body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f7fc; 
}
  html { overflow-y: hidden; }

  
select {
  width: 100%;
  padding: 12px 20px;
  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label{
    float:left
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:hover  {
  padding-right: 25px;
}
#hide{
  display:none;
}

.register-photo {
  background: #f1f7fc;
  padding-top: 150px;
    
   

  
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(./mod10.png);
  background-repeat: no-repeat; 
  
 
background-size: 100% 100%;
  
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  min-height: 410px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c
}


